<style>
    .box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;

}
.mybox:hover{
    -webkit-box-shadow: 6px 7px 25px -10px rgba(0,0,0,0.48);
    -moz-box-shadow: 6px 7px 25px -10px rgba(0,0,0,0.48);
    box-shadow: 6px 7px 25px -10px rgba(0,0,0,0.48);
    transition: all 500ms ease;
}
.shadowbox{
    -webkit-box-shadow: 6px 7px 25px -10px rgba(0,0,0,0.48);
    -moz-box-shadow: 6px 7px 25px -10px rgba(0,0,0,0.48);
    box-shadow: 6px 7px 25px -10px rgba(0,0,0,0.48);
    transition: all 500ms ease;
}
.pt-50{
    padding-top: 50px;
}
.pb-30{
    padding-bottom: 30px;
}
.slider {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slider-h2{
    font-size: 65px;
    text-transform: uppercase;
    font-weight: bold;
    /*margin-bottom: 50px;*/
    color: black;
  text-shadow: 3px 4px 6px white;
}
.slider-p-black{

    text-transform: uppercase;
    font-weight: bold;
    color: black;
 
}
.slider-p-white{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-shadow: 3px 4px 6px black;
 
}
.text-shadow-black{
    text-shadow: 3px 4px 6px black;
}
.text-shadow-white{
    text-shadow: 3px 4px 6px white;
}
.text-shadow-green{
    text-shadow: 3px 4px 6px #669932;
}
.font-65{
    font-size: 65px;
}
.section-title{
    font-size: 50px; text-transform: uppercase;
    font-weight: bold; 

}
.section-description{
    font-size: 25px;font-weight: bold;color: black;
}
.color-black{
    color: black;
}
.color-green{
    color: #669932;
}
.color-white{
    color: white;
}
.bg-green{
    background-color:#669932;
}
.jumbotron {
  background:rgba(255,255,255,0.5);
            /* Transparent background */
    border-radius: 25px;
}
.font-30{
    font-size:30px;
}
.font-20{
    font-size:20px;
}
.txtbolder{
font-weight: bold;
}
/*Gallery*/


.myshadowbox{
    -webkit-box-shadow: -1px 7px 10px 0px rgba(0,0,0,0.44);
-moz-box-shadow: -1px 7px 10px 0px rgba(0,0,0,0.44);
box-shadow: -1px 7px 10px 0px rgba(0,0,0,0.44);
}

.dash-list{
  list-style-type: none;
}

.dash-list  li:before {
  content: "–"; /* en dash */
  position: absolute;
  margin-left: -1.1em; 

            }










@media only screen and (max-width: 720px) {
    .carousel-caption .jumbotron {
        /*height: 200px;*/
        max-height: 600px !important;
        margin-bottom: 0;
    }
    .carousel-caption .jumbotron img {
        width: 45px;
    }
    .carousel-caption {
        margin-bottom: 200px;
    }
    .carousel-caption h2{
        /*display: none;*/
        font-size: 46px !important;
    }
    .carousel-caption .jumbotron h2{
        font-size: 50px !important;
    }
    .carousel-caption .jumbotron h3{
        /*display: none;*/
        font-size: 23px !important;
    }
    .carousel-caption p{
        /*margin-bottom: 200px;*/
        font-size: 14px;
    }
    .carousel-caption .font-sm-view {
        font-size: 14px;
    }
    .carousel-caption .jumbotron a {
        padding: 10px !important;
    }
}
@media only screen and (min-width: 720px, max-width: 1256px) {

    .carousel-caption{
        /*margin-top: 100px;*/
        margin-bottom: 200px;
    }
    .carousel-caption h2{
        /*display: none;*/
        font-size: 40px;
    }
    .carousel-caption .jumbotron h2{
        /*display: none;*/
        font-size: 53px;
    }
    .carousel-caption .jumbotron h3{
        /*display: none;*/
        font-size: 33px !important;
    }
    .carousel-caption .font-sm-view {
        font-size: 18px;
    }
    .carousel-caption .jumbotron {
        max-height: 600px !important;
    }
}
@media only screen and (min-width: 1257px) {
   
    .carousel-caption{
        margin-bottom: 250px;
    }
    .carousel-caption .jumbotron {
        max-height: 550px !important;
    }
    .carousel-caption .jumbotron h2{
        /*display: none;*/
        font-size: 72px;
    }
}